/***************** Font Import *******************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/***************** Variables *******************/
:root {
	/* Colors */
	--black-color-00: black;
	--black-color-10: #111211;

	--button-hover-color: #940533;
	--alt-color: #c0012a;
	--button-color: #f5061d;
	--primary-color: #ff8800;
	--secondary-color: #ffb300;

	--white-color-00: white;
	--white-color-10: #f3f3fe;

	/* Font Weight */
	--light-font: 300;
	--normal-font: 400;
	--semi-bold-font: 600;
	--bold-font: 800;

	/* Font Family */
	--text-font-family: 'Roboto', 'Arial', 'Helvetica', 'Open Sans', sans-serif;
	--main-font-family: 'Anton', 'Arial Black', 'Helvetica Neue', 'Tahoma',
		sans-serif;

	/* Font Size */
	--sm-font-size: 0.875rem;
	--base-font-size: 0.955rem;
	--lg-font-size: 1.5rem;
	--xl-font-size: 2rem;
	--xxl-font-size: 3rem;

	/* Border Radius */
	--light-radius: 0.25rem;
	--medium-radius: 0.5rem;
	--circle-radius: 50%;

	/* Transition */
	--transition-speed: 0.3s;
	--transition-timer: ease-in-out;

	/* Width */
	--max-container-width: 1280px;

	/* Padding */
	--line-padding-container: 0.25rem;
	--block-container-padding: 3.25rem;
}

/***************** Reset and Global Styles *******************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	scroll-behavior: smooth;
	font-family: var(--text-font-family);

	background-color: var(--black-color-10);
	color: var(--white-color-10);
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: var(--main-font-family);
	font-weight: var(--bold-font);
}

a {
	text-decoration: none;
}

input,
textarea,
select,
button {
	background-color: transparent;
	border: none;
	outline: none;
}

button,
select {
	cursor: pointer;
}

ul {
	list-style: none;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

/***************** Reusable *******************/
.container {
	max-width: var(--max-container-width);
	padding-block: var(--block-container-padding);
	margin: 0 auto;
}

.logo {
	font-weight: var(--semi-bold-font);
	font-family: var(--main-font-family);
	color: var(--primary-color);
	transition: var(--transition-speed) var(--transition-timer);
}

.logo:hover {
	filter: drop-shadow(3px 3px 9px var(--alt-color));
}

/***************** HEADER *******************/
#header {
	height: 100vh;
}

/***************** BANNER *******************/
#banner {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(
			rgba(0, 0, 0, 0.98),
			rgba(0, 0, 0, 0.915),
			rgba(0, 0, 0, 0.975)
		),
		url('../img/wall-background.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.banner-content {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.banner-profile {
	border-radius: var(--circle-radius);
	height: 396px;
	width: 396px;
	filter: drop-shadow(8px 12px 25px var(--primary-color));
	border: 2px solid var(--secondary-color);
	box-shadow: 3px 3px 55px 15px var(--primary-color);
	margin-bottom: 2rem;
	object-fit: cover;
	background-image: linear-gradient(#ff8800, #ffb300);
}

.bannter-title,
.banner-subtitle {
	z-index: 10;
}

.bannter-title {
	font-size: var(--xxl-font-size);
	color: var(--secondary-color);
}

.banner-subtitle {
	color: var(--white-color-10);
}

.banner-icon {
	position: absolute;
	left: 50%;
	bottom: 3.5rem;
	transform: translate(-50%, -50%);
	height: 58px;
	width: 34px;
	border: 3px solid var(--white-color-10);
	border-radius: var(--medium-radius);
	opacity: 0.55;
	animation: 1.5s var(--transition-timer) 0.5s infinite normal forwards
		box__movie;
}

@keyframes box__movie {
	0% {
		bottom: 3.5rem;
		opacity: 0.55;
	}

	47% {
		bottom: 3.7rem;
		opacity: 1;
	}

	63% {
		bottom: 3.2rem;
		opacity: 0.85;
	}

	100% {
		bottom: 3.5rem;
		opacity: 0.55;
	}
}

.banner-icon::before {
	position: absolute;
	content: '';
	height: 17px;
	width: 5px;
	background-color: var(--white-color-10);
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: var(--light-radius);
	animation: 2s var(--transition-timer) 0s infinite normal forwards point__movie;
}

@keyframes point__movie {
	0% {
		top: 50%;
		opacity: 0.55;
	}

	47% {
		top: 48%;
		opacity: 1;
	}

	63% {
		top: 55%;
		opacity: 0.85;
	}

	100% {
		top: 50%;
		opacity: 0.55;
	}
}

/***************** NAVBAR *******************/
#navbar {
	background-color: var(--black-color-00);
	height: 80px;
	display: flex;
	align-items: center;
}

.nav-content,
.nav-menu {
	display: flex;
	align-items: center;
}

.nav-content {
	flex: 1;
	justify-content: space-between;
}

.nav-menu {
	gap: 1.05rem;
}

.nav-link {
	color: var(--white-color-10);
	font-weight: var(--normal-font);
	font-size: var(--base-font-size);
	transition: var(--transition-speed) var(--transition-timer);
}

.nav-link.active,
.nav-link:hover {
	color: var(--secondary-color);
	filter: drop-shadow(3px 3px 9px var(--secondary-color));
}
/************** End of HEADER ***************/

/***************** ABOUT *******************/
/* TODO: Create ABOUT style */
/************** End of ABOUT ***************/

/***************** EXPERIENCE *******************/
/* TODO: Create EXPERIENCE style */
/************** End of EXPERIENCE ***************/

/***************** SERVICES *******************/
/* TODO: Create SERVICES style */
/************** End of SERVICES ***************/

/***************** CONTACT *******************/
/* TODO: Create CONTACT style */
/************** End of CONTACT ***************/

/***************** SOCIAL MEDIA *******************/
/* TODO: Create SOCIAL MEDIA style */
/************** End of SOCIAL MEDIA ***************/

/***************** CREDIT AREA *******************/
/* TODO: Create CREDIT AREA style */
/************** End of CREDIT AREA ***************/
