/***************** Font Import *******************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/***************** Variables *******************/

:root {
	/* Colors */

	--black-color: #111211;

	--primary-color: #940533;
	--secondary-color: #c0012a;
	--tertiary-color: #f5061d;
	--button-color: #ff8800;
	--button-hover-color: #ffb300;

	--white-color: #f3f3fe;

	/* Font Weight */

	--light-font: 300;
	--normal-font: 400;
	--semi-bold-font: 600;
	--bold-font: 800;

	/* Font Family */

	--text-font-family: 'Roboto', 'Arial', 'Helvetica', 'Open Sans', sans-serif;
	--main-font-family: 'Anton', 'Arial Black', 'Helvetica Neue', 'Tahoma',
		sans-serif;

	/* Font Size */

	--sm-font-size: 0.875rem;
	--base-font-size: 1rem;
	--lg-font-size: 1.5rem;
	--xl-font-size: 2rem;
	--xxl-font-size: 3rem;

	/* Border Radius */

	--light-radius: 0.25rem;
	--medium-radius: 0.5rem;
	--circle-radius: 50%;

	/* Transition */

	--transition-speed: 0.3s;
	--transition-timer: ease-in-out;

	/* Width */

	--max-container-width: 1280px;

	/* Padding */

	--line-padding-container: 0.25rem;
	--block-padding-container: 3.25rem;
}

/***************** Reset and Global Styles *******************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	scroll-behavior: smooth;
	font-family: var(--text-font-family);
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: var(--main-font-family);
	font-weight: var(--bold-font);
}

a {
	text-decoration: none;
}

input,
textarea,
select,
button {
	background-color: transparent;
	border: none;
	outline: none;
}

button,
select {
	cursor: pointer;
}

ul {
	list-style: none;
}
